body{
    background-color:rgb(218, 217, 217)
}

.amr-tv{
    background-color: #FEEAE9;
}
.amr-headphn{
    background-color: #f3a273;
}

.amr-xbox{
    background-color: #863a3b;
}
.showoff h3{
    color:rgb(2, 46, 6);
    font-size: 1.8em
}
.r3090{
    background-color:#5d6944;
}

.jew{
    background-color: #E7CB7B;
}

.wath{
    background-color: #9e626a;
}

.bag{
    background-color: #4D4D4D;
}
.bag h3{
    color: black;
}
.shoes{
    background-color: #414461;
}

.shoes h3{
    color:rgb(5, 5, 65)
}

.xboox{
    background-color: #689AB1;
}

.hodai{
    background-color: rgb(157, 201, 201);
    border-radius: 15px;
}